%h2 Details about #{dog.name}
%p #{link_to( 'Edit', { action: 'edit', id: dog.id }, class: 'btn btn-info' )}
%p/

Name: 
%b #{dog.name}
%br/

Age: 
%b #{dog.age}
%br/

Dog Attribute: 
%b #{dog.dog_attr}
%br/

%p{ class: 'title'} Dogs in the same pack:

- if !dog.dogs_pack || dog.dogs_pack.empty?
  - message = (dog.pack_id.nil?)? 'This dog belongs to no pack.' : "The pack #{dog.pack_id} has only this dog."
  %p{class: 'title'} #{message}
- else
  %p{class: 'title'} Pack id: #{dog.pack_id}
  
  %table{class: 'table table-bordered'}
    %tr{class: 'warning'}
      %td Name
      %td Age
    
    - dog.dogs_pack.each_with_index do |pack_dog, idx|
      %tr{class: "#{row_color(idx)}"}
        %td
          %a{href: '#', onclick: "getDogDetails('#{pack_dog.id}')" } #{pack_dog.name}
          %span{class: 'glyphicon glyphicon-chevron-right'}
        %td #{pack_dog.age}
  
%a{ href: '#',  onClick: "$('#dog_details').html('')", class: 'btn btn-warning' } Hide details