%script
  :plain
    function getPackDetails(packId) {
      $.ajax({
        url: '/dogs/ajax_pack_show',
        dataType: 'html',
        data: {id: packId},
        success: function(response) {
          console.log(response)
          $('#pack_details').html(response)
        }
      })
    }



%div{class: "container-fluid"}
  %div{class: "row-fluid"}
    %div{class: "col-md-1", style: 'padding-left: 0px;'} Dog name:
    %div{class: "col-md-2"} #{ text_field('dog', 'name') }
  %br/
  %br/
  %div{class: "row-fluid"}
    %div{class: "col-md-1", style: 'padding-left: 0px;'} Age:
    %div{class: "col-md-2"} #{ text_field('dog', 'age')  }
  %br/
  %br/
  %div{class: "row-fluid"}
    %div{class: "col-md-1", style: 'padding-left: 0px;'} Dog Attribute:
    %div{class: "col-md-2"} #{ text_field('dog', 'dog_attr')  }
  %br/
  %br/
  %div{class: "row-fluid"}
    %div{class: "col-md-1", style: 'padding-left: 0px;'} Pack Id:
    %div{class: "col-md-2"} #{ text_field('dog', 'pack_id') }
  %br/
  %br/

%div{style: 'padding-left: 15px;'}
  :plain
    Leave the pack_id blank if you don't want this dog to belong to any pack.<br/>
    Enter an existing pack id to add the dog to an existing pack.<br/>
    Enter a new number if you want to create a new pack with only this dog, and you can add other dogs later.<br/>
    Enter something which is not a number, you are on your own.<br/><br/><br/>                      

  %p{class: "title"}  Existing packs
  - for pack_id in @existing_pack_ids
    Pack id:
    %a{href: '#', onclick: "getPackDetails('#{pack_id}')"} 
      #{pack_id}
      %span{class: 'glyphicon glyphicon-chevron-right'}
    %br/
    %br/


  %div{id: 'pack_details'}  
%br/
%br/

