%h1 Dogs list
%span{class: 'btn btn-info glyphicon glyphicon-plus'}
  = link_to('<b>Create new dog</b>'.html_safe, {action: 'new'})
%br/
%br/
%script
  :plain
    function getDogDetails(dogId) {
      $.ajax({
        url: '/dogs/ajax_show',
        dataType: 'html',
        data: {id: dogId},
        success: function(response) {
          console.log(response)
          $('#dog_details').html(response)
        }
      })
    }

%table
  %tr
    %td
      %table{class: 'table table-bordered'}
        - dogs.each_with_index do |dog, idx|
          %tr{class: "#{row_color(idx)}"}
            %td
              %a{href: '#', onclick: "getDogDetails('#{dog.id}')"} 
                #{dog.name}
                %span{class: 'glyphicon glyphicon-chevron-right'}
            %td
              = "Age: #{dog.age}"
            %td
              = button_to( 'Delete', { action: 'destroy', id: dog.id }, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }) 
    %td &nbsp;&nbsp;  
    %td
      %div{id: 'dog_details'}

%span{id: 'indicator', style: 'display: none;'}
  = spinner_text

