%br/
%p{class: 'title'} Pack #{ pack_id } details
%table{class: 'table table-bordered', style: 'width: 600px;'}
  %tr{class: 'warning'}
    %td Name
    %td Age
    %td Dog Attribute

  - dogs.each_with_index do |pack_dog, idx|
    %tr{class: "#{row_color(idx)}"}
      %td #{ pack_dog.name }
      %td #{ pack_dog.age }
      %td #{ pack_dog.dog_attr }

%a{href: '#', onClick: "$('#pack_details').html('');return false;"} Hide pack details
%br/
%br/