<tr class='aniTr'>
  <td>
    <a href='#' onclick= "$.ajax({ url: '/cats/ajax_show', data: {id: '<%= cat.id %>'}, success: function(response) {
    $('#<%= update_to %>').html(response);} });" ><%= cat.name %>
    </a>
	</td>
	<td>Age: <%= cat.age %></td>
	<% if cat.kind_of?(TabbyCat) %>
	  <td>Stripes: <%= cat.stripes %></td>
	<% end %>
	<td>
		<%= button_to 'Delete', { action: 'destroy', id: cat.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
</tr>