<h1><%= info_title %></h1>
<% if !cats.empty? %>
<table border="0">
  <tr>
  	<td>
	    <table class='aniTable'>
				<% cats.each do |cat| %>
				  <%= render :partial => 'cats/cat', :object => cat, :locals => {:update_to => update_to} %>
				<% end %>
		  </table>
    </td>
		<td><div id = "<%= update_to %>"></div></td>
  </tr>	
</table>
<% end%>

