<h2>Details about <%= cat.name%></h2>
<p><%= button_to 'Edit', { :action => 'edit', :id => cat } %></p>
<p/>

<b>Name: </b><%= cat.name%><br/>
<b>Age: </b><%= cat.age%><br/>
<b>Cat Attribute: </b><%= cat.cat_attr%><br/>
<% if cat.kind_of?(TabbyCat) %>
	  <b>Stripes: </b><%= cat.stripes %><br/>
<% end %>

<b>Claws: </b>This cat has <%= (cat.claws || []).size %> claws: <br/>
||
<% for claw in cat.claws %>
  <%= claw.claw_value %>||
<% end %>
<br/>
<a href="#" onClick="$('<%= update_to %>').innerHTML='';return false;">Hide details</a>