<%= error_messages_for 'cat' %>

<!--[form:cat]-->

<p><label for="cat_type">Cat Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
<%= cat_types(@cat, @dissable_select_type)  %></p>

<p><label for="cat_name">Cat name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
<%= text_field 'cat', 'name'  %></p>

<p><label for="cat_age">Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
<%= text_field 'cat', 'age'  %></p>


<p><label for="cat_cat_attr">Cat Attribute</label>
<%= text_field 'cat', 'cat_attr'  %></p>

<div id = "stripesInput">
<%= render :partial => 'stripes' %>
</div>


<% claw_values = (@cat)? @cat.claws.map{|x| x.claw_value}.join("\n") : nil %>
<p><label for="claw_claws">Claws&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
<%= text_area 'claw', 'claws', {:cols => 5, :rows => 5, :value => claw_values } %>
<!--[eoform:cat]-->

<br/><br/><br/>

<%= cat_type_observer(@cat) %>