<div id='catList'>

<h1>Cats list</h1>
<%= button_to 'Create new cat', :action => 'new' %>
<p/>

<%= render :partial=> "/cats/cat_summary", :object => not_tabby_cats, 
           :locals => {:cats=> not_tabby_cats, :update_to => "cat_details", :info_title => "Cats which are not Tabby Cats"}%>

<br/><br/><br/>

<%= render :partial=> "cats/cat_summary", :object => tabby_cats, 
           :locals => {:cats=> tabby_cats,:update_to => "tabby_cat_details", :info_title => "Tabby Cats"}%>
           
</div>
