<br/>
<p class="title">Pack <%= pack_id%> details</p>
<table>
	<tr>
	<td>Name</td>
	<td>Age</td>
	<td>Dog Attribute</td>
  </tr>
  <% dogs.each do |pack_dog| %>
    <tr>
		  <td><%= pack_dog.name %></td>
			<td><%= pack_dog.age%></td>
			<td><%= pack_dog.dog_attr%></td>
	  </tr>
  <% end %>
</table>
<a href="#" onClick="$('pack_details').innerHTML='';return false;">Hide pack details</a>
<br/><br/><br/>