<% if !dog.dogs_pack || dog.dogs_pack.empty? %>
  <% message = (dog.pack_id.nil?)? "This dog belongs to no pack." : "The pack #{dog.pack_id} has only this dog." %>
  <p class="title"><%= message %></p>
<% else %>
	<p class="title">Pack id: <%= dog.pack_id %> </p>
	
	<table>
		<tr>
		<td>Name</td>
		<td>Age</td>
	  </tr>
	  <% dog.dogs_pack.each do |pack_dog| %>
	    <tr>
			  <td><%= link_to_remote(pack_dog.name,
									:url => {:action => 'ajax_show', :id => pack_dog}, 
									:update => "dog_details")
						%> 
				</td>
				<td><%= pack_dog.age%></td>
		  </tr>
	  <% end %>
	</table>
<% end %>