<% if (@cat && @cat.kind_of?(TabbyCat)) || @create_tabby_cat %>
	<p><label for="cat_stripes">Stripes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
  <%= text_field 'cat', 'stripes'  %></p> 
<% end %>
