<% @dissable_select_type = true %>
<h1>Editing cat</h1>

<% form_tag :action => 'update', :id => @cat do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Cat list', :action => 'list' %>