<% @dissable_select_type = false %>
<h1>New cat</h1>

<% form_tag :action => 'create'  do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Cat list', :action => 'list' %>
