%script
  :plain
    $(function(){
      // Tabs
      $('#tabs').tabs();
    });

%div{id: 'tabs'}
  %ul
    %li #{ link_to('Dogs', '#tabs-1') }
    %li #{ link_to('Cats', '#tabs-2') }
    %li #{ link_to('Fish', '#tabs-3') }

  %div{id: 'tabs-1'} #{ render(partial: '/dogs/list', locals: { dogs: @dogs }) }
  %div{id: 'tabs-2'} #{ render(partial: '/cats/list', locals: { not_tabby_cats: @not_tabby_cats, tabby_cats: @tabby_cats }) }
  %div{id: 'tabs-3'} #{ render(partial: '/fish/list') }


%p{style: "color: green"} #{ flash[:notice] }
