!!!
%html
  %head
  %meta{ charset: 'utf-8'}/
  %title Animals
  = javascript_include_tag 'application'
  = stylesheet_link_tag 'application', media: "all"

  = javascript_include_tag 'https://select2.github.io/dist/js/select2.full.js'
  = javascript_include_tag 'https://select2.github.io/vendor/js/bootstrap.min.js'
  = javascript_include_tag 'https://select2.github.io/vendor/js/prettify.min.js'
  = javascript_include_tag 'https://select2.github.io/vendor/js/anchor.min.js'

  = stylesheet_link_tag 'https://select2.github.io/css/bootstrap.css', media: "all"
  = stylesheet_link_tag 'https://select2.github.io/dist/css/select2.min.css', media: "all"

  = stylesheet_link_tag 'https://select2.github.io/css/font-awesome.css', media: "all"
  = stylesheet_link_tag 'https://select2.github.io/css/s2-docs.css', media: "all"
  
  = csrf_meta_tags

  %body
    = yield


