%script
  :plain
    $(function() {

      // $.ajaxSetup({
      //     headers: { "X-CSRFToken": "u7/gUjpJ6mpmbzfezI0g5OCoacYoJduou2DjMq0T58o=" }
      // });

      $('#fileupload').fileupload( {
        dataType: 'json',
        headers: { "X-CSRFToken": "u7/gUjpJ6mpmbzfezI0g5OCoacYoJduou2DjMq0T58o=" },
        done: function (e, data) {
          $.each(data.result.files, function (index, file) {
            $('<p/>').html("<a href='" + file.url + "'>" + file.name + "</a>").appendTo(document.body);
          });
        }
      })


      $( "#tags" ).autocomplete({
        headers: { "X-CSRFToken": "u7/gUjpJ6mpmbzfezI0g5OCoacYoJduou2DjMq0T58o=" },
        source: '/fish/language_auto_comlete',
        select: showSelected
      });

      $( "#datepicker" ).datepicker( $.datepicker.regional[ "fr" ] );
      $( "#locale" ).change(function() {
        $( "#datepicker" ).datepicker( "option", $.datepicker.regional[ $( this ).val() ] );
      });


      // $('#language_multi_select').val() give you selected values
      $('#language_multi_select').select2({
        ajax: {
          headers: { "X-CSRFToken": "u7/gUjpJ6mpmbzfezI0g5OCoacYoJduou2DjMq0T58o=" },
          url: "/fish/language_auto_comlete",
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term, // search term
              page: params.page
            };
          },
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used
            params.page = params.page || 1;

            var select2Data = $.map(data.items, function (obj) {
                console.log(obj)
                console.log(obj.item_id)
                obj.id = obj.item_id;
                obj.text = obj.value;

                return obj;
            });
            console.log(select2Data)
            return {
                results: select2Data,
                pagination: {
                  more: (params.page * 30) < data.total_count
                }
            };
           
          },
          cache: true
        },
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 3,
       
      });

    })


    function showSelected(event, ui) {
      console.log('Event = ' + event.target.id + ' -- ui.item.value = ' + ui.item.value + ' -- ui.item.item_id = ' + ui.item.item_id)

      var msg = ''
      for (var i in event) {
        msg += i + ' = ' + event[i] + " -- "
      }

      //prompt("Event's attributes:", msg)
      //alert(msg)
    }

%div{class: 'container-fluid'}
  %div{class: 'row-fluid'}
    %div{class: 'col-md-2', style: 'padding-left: 55px;'} Date:
    %div{class: 'col-md-2', style: 'padding-left: 0px;'} 
      %input{type: "text", id: "datepicker"}/
    %div{class: 'col-md-2', style: 'padding-left: 20px;'} 
      %select{id: 'locale'}
        %option{value: "af"} Afrikaans
        %option{value: "sq"} Albanian (Gjuha shqipe)
        %option{value: "ar"} Arabic (&#8235;(&#1604;&#1593;&#1585;&#1576;&#1610;
        %option{value: "hy"} Armenian (&#1344;&#1377;&#1397;&#1381;&#1408;&#1381;&#1398;)
        %option{value: "az"} Azerbaijani (Az&#601;rbaycan dili)
        %option{value: "eu"} Basque (Euskara)
        %option{value: "bs"} Bosnian (Bosanski)
        %option{value: "bg"} Bulgarian (&#1073;&#1098;&#1083;&#1075;&#1072;&#1088;&#1089;&#1082;&#1080; &#1077;&#1079;&#1080;&#1082;)
        %option{value: "ca"} Catalan (Catal&agrave;)
        %option{value: "zh-HK"} Chinese Hong Kong (&#32321;&#39636;&#20013;&#25991;)
        %option{value: "zh-CN"} Chinese Simplified (&#31616;&#20307;&#20013;&#25991;)
        %option{value: "zh-TW"} Chinese Traditional (&#32321;&#39636;&#20013;&#25991;)
        %option{value: "hr"} Croatian (Hrvatski jezik)
        %option{value: "cs"} Czech (&#269;e&#353;tina)
        %option{value: "da"} Danish (Dansk)
        %option{value: "nl"} Dutch (Nederlands)
        %option{value: "en-GB"} English/UK
        %option{value: "eo"} Esperanto
        %option{value: "et"} Estonian (eesti keel)
        %option{value: "fo"} Faroese (f&oslash;royskt)
        %option{value: "fa"} Farsi/Persian (&#8235;(&#1601;&#1575;&#1585;&#1587;&#1740;
        %option{value: "fi"} Finnish (suomi)
        %option{value: "fr", selected: "selected"} French (Fran&ccedil;ais)
        %option{value: "fr-CH"} French/Swiss (Fran&ccedil;ais de Suisse)
        %option{value: "de"} German (Deutsch)
        %option{value: "el"} Greek (&#917;&#955;&#955;&#951;&#957;&#953;&#954;&#940;)
        %option{value: "he"} Hebrew (&#8235;(&#1506;&#1489;&#1512;&#1497;&#1514;
        %option{value: "hu"} Hungarian (Magyar)
        %option{value: "is"} Icelandic (&Otilde;slenska)
        %option{value: "id"} Indonesian (Bahasa Indonesia)
        %option{value: "it"} Italian (Italiano)
        %option{value: "ja"} Japanese (&#26085;&#26412;&#35486;)
        %option{value: "ko"} Korean (&#54620;&#44397;&#50612;)
        %option{value: "kz"} Kazakhstan (Kazakh)
        %option{value: "lv"} Latvian (Latvie&ouml;u Valoda)
        %option{value: "lt"} Lithuanian (lietuviu kalba)
        %option{value: "ms"} Malaysian (Bahasa Malaysia)
        %option{value: "no"} Norwegian (Norsk)
        %option{value: "pl"} Polish (Polski)
        %option{value: "pt-BR"} Portuguese/Brazilian (Portugu&ecirc;s)
        %option{value: "ro"} Romanian (Rom&acirc;n&#259;)
        %option{value: "ru"} Russian (&#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;)
        %option{value: "sr"} Serbian (&#1089;&#1088;&#1087;&#1089;&#1082;&#1080; &#1112;&#1077;&#1079;&#1080;&#1082;)
        %option{value: "sr-SR"} Serbian (srpski jezik)
        %option{value: "sk"} Slovak (Slovencina)
        %option{value: "sl"} Slovenian (Slovenski Jezik)
        %option{value: "es"} Spanish (Espa&ntilde;ol)
        %option{value: "sv"} Swedish (Svenska)
        %option{value: "ta"} Tamil (&#2980;&#2990;&#3007;&#2996;&#3021;)
        %option{value: "th"} Thai (&#3616;&#3634;&#3625;&#3634;&#3652;&#3607;&#3618;)
        %option{value: "tr"} Turkish (T&uuml;rk&ccedil;e)
        %option{value: "uk"} Ukranian (&#1059;&#1082;&#1088;&#1072;&#1111;&#1085;&#1089;&#1100;&#1082;&#1072;)
        %option{value: "vi"} Vietnamese (Ti&#7871;ng Vi&#7879;t)
    %br/
    %br/
    %div{class: 'row-fluid'}
      %div{class: 'col-md-2', style: 'padding-left: 55px;'} Favorite language:
      %div{class: 'col-md-2', style: 'padding-left: 0px;'}
        %input{ id: 'tags', name: 'image_form[tags]', type: 'text' }/

%br/
%br/

%select{class: 'js-data-example-ajax col-md-4', multiple: 'multiple', id: 'language_multi_select'}
  


%br/
%br/

%span{class: "btn btn-success fileinput-button glyphicon glyphicon-upload"}
  %b Browse
  %input{ id: 'fileupload', type: 'file', name: 'files[]', 'data-url' => '/fish/create_asset', multiple: true}/
